//Custom Scroll bars

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  @include border-radius(12px);
}

::-webkit-scrollbar-thumb {
  background: #666666;
  margin: 5px;
  @include border-radius(12px);
  border: 6px solid transparent;
  background-clip: content-box;
}